* {
  box-sizing: border-box;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  background: #a52a2a;
  color:aliceblue;
  padding: 14px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  color: aliceblue;
  font-size: 30px;
}

Link {
  color: aliceblue;
}